/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-top {
  background-image: url(sprite.png);
  background-position: -32px -66px;
  width: 16px;
  height: 9px;
}
.icon-cart-lg {
  background-image: url(sprite.png);
  background-position: 0px -45px;
  width: 24px;
  height: 21px;
}
.icon-clock {
  background-image: url(sprite.png);
  background-position: -66px -28px;
  width: 15px;
  height: 15px;
}
.icon-fb {
  background-image: url(sprite.png);
  background-position: 0px -78px;
  width: 8px;
  height: 14px;
}
.icon-insta {
  background-image: url(sprite.png);
  background-position: -81px -28px;
  width: 14px;
  height: 14px;
}
.icon-location {
  background-image: url(sprite.png);
  background-position: -48px -45px;
  width: 12px;
  height: 18px;
}
.icon-mail {
  background-image: url(sprite.png);
  background-position: -72px -45px;
  width: 16px;
  height: 12px;
}
.icon-new {
  background-image: url(sprite.png);
  background-position: 0px -15px;
  width: 30px;
  height: 30px;
}
.icon-percentage {
  background-image: url(sprite.png);
  background-position: -30px -15px;
  width: 30px;
  height: 30px;
}
.icon-phone {
  background-image: url(sprite.png);
  background-position: -60px -45px;
  width: 12px;
  height: 18px;
}
.icon-top {
  background-image: url(sprite.png);
  background-position: -66px 0px;
  width: 30px;
  height: 28px;
}
.icon-tw {
  background-image: url(sprite.png);
  background-position: 0px -66px;
  width: 15px;
  height: 12px;
}
.icon-vk {
  background-image: url(sprite.png);
  background-position: -15px -66px;
  width: 17px;
  height: 10px;
}
.icon-webfox {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 66px;
  height: 15px;
}
.icon-write {
  background-image: url(sprite.png);
  background-position: -24px -45px;
  width: 24px;
  height: 19px;
}
