@charset "UTF-8";
/*
Theme Name: Erukzak
Theme URI: https://profglobal.pro
Author: Vitaliy Karakushan
Author URI: https://profglobal.pro
Description: описание вашей темы
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark
Text Domain: erukzak

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
.gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
  font-weight: 400;
}

.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
  font-size: 10px;
}

.gm-style-pbc {
  transition: opacity ease-in-out;
  background-color: rgba(0, 0, 0, 0.45);
  text-align: center;
}

.gm-style-pbt {
  font-size: 22px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  position: relative;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.smartsearch {
  display: none;
  background: #FFFFFF !important;
  border: 1px solid #EEEEEE !important;
  border-top: none !important;
  border-radius: 0 0 7px 7px !important;
  box-shadow: 0 2px 2px #DDD !important;
  line-height: 1.2 !important;
  margin: -3px 0 0 2px !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: normal !important;
  width: px !important;
  z-index: 1010 !important;
  top: 36px !important;
}

.smartsearch a {
  white-space: normal !important;
}

#search, .searchbox {
  overflow: visible !important;
  z-index: 1000 !important;
}

.smartsearch-product {
  border-bottom: 1px solid #EEEEEE !important;
  color: #000000 !important;
  display: block !important;
  font-size: 11px !important;
  font-weight: normal !important;
  min-height: 50px !important;
  padding: 5px !important;
  text-decoration: none !important;
}

.smartsearch-product img {
  float: left !important;
  margin: 0 10px 0 0 !important;
}

.smartsearch-product strong {
  font-size: 13px !important;
  margin: 5px 5px 5px 0 !important;
}

.smartsearch-focus, .smartsearch-product:hover {
  background: #EEFFFF !important;
  text-decoration: none !important;
}

.smartsearch-bottom {
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 10px !important;
  text-align: center !important;
}

.smartsearch {
  width: 100%;
}

.gm-style {
  font: 400 11px Roboto, Arial, sans-serif;
  text-decoration: none;
}

.gm-style img {
  max-width: none;
}

.quick_signup {
  cursor: pointer;
}

#modal-quicksignup .form-control {
  height: auto;
}

a.colorOption {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  margin: 3px;
}

.product-grid a.colorOption,
.product-list a.colorOption,
#product_buy_col a.colorOption {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0px;
  border: 1px solid transparent;
}

a.colorOption.currentColorOption {
  border-color: orange !important;
}

.product-color-options span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0px;
}

.image .product-color-options {
  /*display: none;*/
}

a.color-option {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px;
  padding: 0;
  border: 1px solid white;
  vertical-align: bottom;
  cursor: pointer;
}

a.color-option.color-active, a.color-option:hover {
  border: 1px solid black;
  padding: 3px;
}

.hidden {
  display: none;
}

.gmp_map_opts {
  border-top: 3px solid #006a6d;
}

figure.cat-image {
  height: 186px;
  background-size: cover;
  width: 100%;
}

.fs-rating .star-rating {
  line-height: 32px;
  font-size: 16px;
}

.fs-attr-filter {
  margin: 10px 0 0 0;
  padding: 0;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.fs-attr-filter .fs-checkbox-wrapper {
  margin-bottom: 4px;
}
.fs-attr-filter .fs-checkbox-wrapper label {
  position: relative;
  font-weight: 400;
  padding-left: 20px;
  cursor: pointer;
  line-height: 1;
  display: flex;
  align-items: center;
}
.fs-attr-filter .fs-checkbox-wrapper label:before {
  content: "";
  display: block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin: 0 4px 0 0;
  border: 1px solid #009ba0;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.fs-attr-filter .fs-checkbox-wrapper input {
  display: none;
}
.fs-attr-filter .fs-checkbox-wrapper input:checked + label:after {
  content: "";
  display: block;
  background-color: #009ba0;
  position: absolute;
  left: 2px;
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.bf-clickable.active .bf-arrow {
  transform: rotate(-90deg);
}

.bf-layout-id-1 .ui-widget-header {
  background: #009ba0;
}

.icon-catalog {
  background: url("/wp-content/themes/erukzak/img/catalog.png") no-repeat left center;
  padding-left: 6px;
}

.icon-women {
  background: url("/wp-content/themes/erukzak/img/female.png") no-repeat left center;
  padding-left: 6px;
}

.icon-man {
  background: url("/wp-content/themes/erukzak/img/male.png") no-repeat left center;
  padding-left: 6px;
}

.icon-child {
  background: url("/wp-content/themes/erukzak/img/kids-couple.png") no-repeat left center;
  padding-left: 12px;
}

.icon-delivery {
  background: url("/wp-content/themes/erukzak/img/cargo-truck.png") no-repeat left center;
  padding-left: 12px;
}

.icon-reviews {
  background: url("/wp-content/themes/erukzak/img/reviews.png") no-repeat left center;
  padding-left: 10px;
}

.icon-contact {
  background: url("/wp-content/themes/erukzak/img/contacts.png") no-repeat left center;
  padding-left: 14px;
}

#content .owl-carousel .slider-title {
  font-family: "FuturaDemiC";
  font-size: 45px;
  margin-top: 47px;
  padding: 10px 20px;
}

#content .left-banners .item {
  overflow: hidden;
}
#content .left-banners .item img {
  transition: all 0.8s;
}
#content .left-banners .item:hover img {
  transform: scale(1.1);
}
#content .left-banners .item .banner-title {
  font-size: 14px;
  font-family: "FuturaDemiC";
  letter-spacing: 0.075em;
  z-index: 2;
}
#content .left-banners .item.popular .banner-title {
  background-color: #eea800;
}
#content .left-banners .item.promo .banner-title {
  background-color: #f60d0d;
}

.home .slick-arrow {
  margin-top: -57px;
}

.slick-slider .slick-slider .slick-arrow {
  margin-top: -20.5px;
}

.slick-arrow {
  width: 41px;
  height: 41px;
  position: absolute;
  top: 50%;
  z-index: 2;
  border: none;
  outline: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.slick-arrow:focus {
  outline: none;
}
.slick-arrow.slick-next {
  right: -56px;
  background: transparent url("/wp-content/themes/erukzak/img/slick-next.jpg") no-repeat center;
}
.slick-arrow.slick-next:hover {
  background: transparent url("/wp-content/themes/erukzak/img/slick-next-hover.jpg") no-repeat center;
}
.slick-arrow.slick-prev {
  left: -56px;
  background: transparent url("/wp-content/themes/erukzak/img/slick-prev.jpg") no-repeat center;
}
.slick-arrow.slick-prev:hover {
  background: transparent url("/wp-content/themes/erukzak/img/slick-prev-hover.jpg") no-repeat center;
}

.icon {
  display: inline-block;
}

.icon-cart {
  background: transparent url(img/cart.png) 0 0 no-repeat;
  width: 20px;
  height: 17px;
}

.slider-wrapper .slick-list {
  margin: 0 -15px;
}

.product-thumb {
  position: relative;
  z-index: 1;
  height: 342px;
  margin: 15px auto 30px;
  display: flex !important;
  justify-content: center;
}
.product-thumb.slick-slide {
  padding: 0 15px;
}
.product-thumb .animate-h {
  position: relative;
  max-width: 100%;
  height: 342px;
  border: 1px solid #e3e3e3;
  padding: 10px 15px;
  overflow: hidden;
  background-color: #ffffff;
}
.product-thumb .animate-h .button-group {
  text-align: center;
}
.product-thumb .animate-h .button-group .btn-block {
  width: auto;
  display: inline-flex;
  background-color: #009ba0;
  border: none;
  font-family: "FuturaDemiC";
  align-items: center;
  padding: 6.5px 20px;
  line-height: 1;
  font-weight: normal;
}
.product-thumb .animate-h .button-group .btn-block .icon {
  position: relative;
}
.product-thumb .animate-h .button-group .btn-block:hover {
  background-color: #037f82;
}
.product-thumb .animate-h .caption .price {
  font-size: 20px;
  font-family: "FuturaDemiC";
  margin-bottom: 20px;
}
.product-thumb .animate-h .caption .price .fs-base-price {
  color: #a2a2a2;
  font-size: 16px;
  text-decoration: line-through;
}
.product-thumb .animate-h .caption h4 a {
  color: #555454;
  font-family: "FuturaDemiC";
  line-height: 20px;
}
.product-thumb:hover {
  z-index: 2;
}
.product-thumb:hover .animate-h {
  width: 100%;
  height: 398px;
  box-shadow: 0 0 21.84px 2.16px rgba(0, 0, 0, 0.23);
  overflow: visible;
}

.section-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f8f8f8;
  height: 43px;
  font-size: 22px;
  font-family: "FuturaDemiC";
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #0e0e0e;
}
.section-title .t1 {
  padding: 12px 95px;
  border: 1px solid #009ba0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
}
.section-title .icon {
  margin-right: 15px;
}

.section {
  padding: 60px 0;
}
.section .section-buttons {
  text-align: center;
}
.section.section-gray {
  background-color: #f8f8f8;
}
.section.section-dark {
  color: #ffffff;
}
.section.section-dark a {
  color: #ffffff;
}
.section.section-dark h2, .section.section-dark .h2 {
  color: #ffffff;
}
.section h2, .section .h2 {
  text-align: center;
  color: #0e0e0e;
  font-family: "FuturaDemiC";
  font-size: 40px;
  margin: 0 0 43px;
}
.section h3, .section .h3 {
  text-align: center;
  color: #0e0e0e;
  font-family: "FuturaDemiC";
  font-size: 30px;
  margin: 0 0 15px;
}

.reviews {
  background: transparent url(img/reviews-bg.jpg) center no-repeat;
  background-size: cover;
}

.bts {
  border: 1px solid #009ba0;
  padding: 0 30px;
  line-height: 1;
  text-transform: uppercase;
  height: 43px;
  display: inline-flex;
  align-items: center;
  color: #009ba0;
  text-decoration: none;
  transition: all 0.4s;
  justify-content: center;
}
.bts.bts-sm {
  height: 33px;
  font-size: 12px;
}
.bts.bts-outline {
  background: transparent;
}
.bts.bts-block {
  display: flex;
  width: 100%;
}
.bts:hover {
  text-decoration: none;
  background: #009ba0;
  color: #ffffff;
}
.bts.bts-orange {
  border: 1px solid #eea800;
  color: #eea800;
}
.bts.bts-orange:hover {
  text-decoration: none;
  background: #eea800;
  color: #ffffff;
}

.reviews .bts {
  margin: 0 10px;
}

.review-item {
  text-align: center;
  padding: 0 15px;
  font-family: "FuturaDemiC";
  margin-bottom: 46px;
}
.review-item .date-time {
  text-align: right;
}
.review-item .date-time span {
  background-color: rgba(255, 255, 255, 0.33);
  padding: 2px 8px;
  font-size: 12px;
}
.review-item .title {
  color: #009ba0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
}
.review-item p {
  font-family: "FuturaLightC";
  font-size: 18px;
  line-height: 24px;
}

.map-city {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 440px;
  background-color: #f8f8f8;
  flex-wrap: wrap;
  padding: 30px;
  line-height: 24px;
  font-family: "FuturaLightC";
  font-size: 16px;
  list-style-type: decimal;
}
.map-city li a {
  color: #0e0e0e;
  padding: 4px 8px;
  transition: all 0.4s;
}
.map-city li a:hover {
  background-color: #009ba0;
  text-decoration: none;
  color: #ffffff;
}

.page__content {
  background: #000 url(img/page-text-bg.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 16px;
  font-family: "FuturaLightC";
  line-height: 22px;
}
.page__content .page-text {
  width: 850px;
  margin: 0 auto;
  max-width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.page__content h3 {
  font-family: "FuturaDemiC";
  font-size: 24px;
  color: #ffffff;
}
.page__content ul {
  margin: 0;
  padding: 0;
}
.page__content ul li {
  display: flex;
  margin-bottom: 14px;
  align-items: center;
}
.page__content ul li:before {
  content: url(img/list.png);
  display: flex;
  height: 26px;
  width: 29px;
  margin-right: 16px;
}

.nice-scroll {
  max-height: 348px;
  overflow: auto;
  padding-right: 100px;
}

.nicescroll-rails {
  width: 3px !important;
}
.nicescroll-rails .nicescroll-cursors {
  left: 2px;
}

.company__address {
  position: relative;
}
.company__address .map-info {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 60%;
  background: #009ba0;
  color: #ffffff;
  padding: 20px;
  line-height: 24px;
  font-family: "FuturaFuturisLightC";
  font-size: 16px;
  max-width: 360px;
}
.company__address .map-info .t1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.site__footer {
  background-color: #242323;
  font-family: "FuturaLightC";
  font-size: 16px;
  padding-bottom: 30px;
}
.site__footer .widget .widgettitle {
  font-size: 20px;
  font-family: "FuturaDemiC";
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.site__footer .widget .menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 269px;
}
.site__footer .widget .menu li {
  display: block;
  background: url(img/menu.png) left center no-repeat;
  padding-left: 15px;
  margin-right: 70px;
  margin-bottom: 12px;
}
.site__footer .widget .menu li a:hover {
  color: #009ba0;
  text-decoration: none;
}

.contacts__footer {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: "FuturaLightC";
}
.contacts__footer li {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  margin-bottom: 12px;
}
.contacts__footer li .icon {
  margin-right: 12px;
}

.footer__subscribe {
  font-family: "FuturaLightC";
  font-size: 14px;
  letter-spacing: 0.025em;
}
.footer__subscribe div.wpcf7-response-output {
  margin: 1rem 0;
}
.footer__subscribe span.wpcf7-not-valid-tip {
  display: none;
}
.footer__subscribe .wpcf7-form-control-wrap {
  float: left;
}
.footer__subscribe input[type=email] {
  background: transparent;
  color: #ffffff;
  border: 1px solid #7e7e7e;
  border-right-width: 0;
  height: 28px;
  font-family: "FuturaFuturisLightC";
  padding: 0 10px;
  width: 220px;
}
.footer__subscribe input[type=email]::placeholder {
  color: #ffffff;
}
.footer__subscribe input[type=submit] {
  background: #009ba0;
  color: #ffffff;
  border: 1px solid #7e7e7e;
  border-right-width: 0;
  height: 28px;
  font-family: "FuturaFuturisLightC";
  border: none;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 15px;
  margin: 0;
}

.bottom__line {
  background: #040404;
  color: #ffffff;
}
.bottom__line .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "FuturaLightC";
  font-size: 14px;
}
.bottom__line .container .social a {
  margin: 0 7px;
}
.bottom__line .container .copy {
  display: flex;
  align-items: center;
  height: 50px;
}

.totop {
  position: fixed;
  bottom: 21px;
  right: 10%;
  cursor: pointer;
  z-index: 5;
}

.taxonomy-sidebar .widget {
  border: 1px solid #d9d9d9;
  border-bottom: none;
}
.taxonomy-sidebar .widget:first-child {
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}
.taxonomy-sidebar .widget:last-child {
  margin-bottom: 50px;
  border-bottom: 1px solid #d9d9d9;
}
.taxonomy-sidebar .widget .widget-content {
  padding: 25px 20px;
  font-family: "FuturaLightC";
  font-size: 16px;
  color: #0e0e0e;
}
.taxonomy-sidebar .widget .widget-content .fs-attr-filter li {
  padding-left: 0;
}
.taxonomy-sidebar .widget .widget-content .fs-attr-filter li:before, .taxonomy-sidebar .widget .widget-content .fs-attr-filter li:after {
  display: none;
}
.taxonomy-sidebar .widget ul {
  margin: 0;
  padding: 0;
}
.taxonomy-sidebar .widget ul li {
  display: block;
  list-style: none;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.taxonomy-sidebar .widget ul li.current-menu-item:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 4px;
  top: 9px;
  background: #009ba0;
}
.taxonomy-sidebar .widget ul li:before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 0;
  top: 5px;
  border: 1px solid #009ba0;
}
.taxonomy-sidebar .widget ul li a {
  color: #0e0e0e;
}
.taxonomy-sidebar .widget ul li a:hover {
  text-decoration: none;
}
.taxonomy-sidebar .widget .widgettitle {
  text-align: center;
  font-family: "FuturaDemiC";
  font-size: 18px;
  text-transform: uppercase;
  background: #f0f0f0;
  border-bottom: 1px solid #d9d9d9;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0e0e0e;
}
.taxonomy-sidebar .widget .widgettitle:hover {
  cursor: pointer;
}
.taxonomy-sidebar .widget .widgettitle.active {
  border-bottom: 0;
}
.taxonomy-sidebar .widget .widgettitle.active .icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.taxonomy-sidebar .widget .widgettitle .icon {
  margin-right: 10px;
}

.tax-catalog h1 {
  text-align: center;
  font-family: "FuturaDemiC";
  font-size: 40px;
  color: #009ba0;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.taxonomy-slider-top {
  margin-bottom: 40px;
}
.taxonomy-slider-top .slick-arrow:focus {
  outline: none;
}
.taxonomy-slider-top .slick-arrow.slick-next {
  right: -24px;
}
.taxonomy-slider-top .slick-arrow.slick-prev {
  left: -24px;
}

.slick-slide img {
  display: block;
  max-width: 100%;
  height: auto;
}

.taxonomy__top-item {
  background: #f8f8f8;
  width: 130px;
  text-align: center;
  padding: 15px;
  height: 162px;
}
.taxonomy__top-item:hover {
  background-color: #f8f8f8;
}
.taxonomy__top-item figure {
  margin-bottom: 10px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.taxonomy__top-item figure img {
  max-height: 100%;
  max-width: 100%;
}
.taxonomy__top-item .name {
  font-family: "FuturaDemiC";
  line-height: 14px;
  color: #0e0e0e;
  display: block;
  max-height: 42px;
  overflow: hidden;
}

.bootstrap-select > .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
  z-index: 1;
  background: #f8f8f8;
  font-size: 11px;
  font-family: "FuturaDemiC";
  color: #0e0e0e;
}

.filters__top {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "FuturaDemiC";
  letter-spacing: 0.05em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.filters__top .dropdown-menu > li > a {
  font-size: 11px;
  color: #0e0e0e;
}
.filters__top .perpage_filter .bootstrap-select {
  width: 61px !important;
}
.filters__top .filter-text {
  color: #6f6f6f;
  margin-right: 12px;
}

.taxonomy__pagination {
  display: flex;
  justify-content: space-between;
  font-family: "FuturaFuturisLightC";
  letter-spacing: 0.025em;
  margin-bottom: 50px;
}
.taxonomy__pagination .btn {
  height: 39px;
  background: #009ba0;
  color: #ffffff;
  padding: 0 58px;
}
.taxonomy__pagination .btn:hover {
  border: 1px solid #009ba0;
  background: white;
  color: #009ba0;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  line-height: 1;
  text-decoration: none;
  color: #0e0e0e;
  background-color: #f8f8f8;
  margin-left: -1px;
  width: 39px;
  height: 39px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "FuturaFuturisLightC";
  letter-spacing: 0.025em;
}
.pagination > li > a:hover, .pagination > li > a.current,
.pagination > li > span:hover,
.pagination > li > span.current {
  background: #009ba0;
  color: #ffffff;
}

.tax-catalog .section h2, .tax-catalog .section .h2 {
  font-size: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.category-description {
  margin-bottom: 62px;
  font-family: "FuturaFuturisLightC";
  font-size: 16px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-top: 64px;
}

.h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "FuturaDemiC";
  font-weight: normal;
}

.panel-default {
  color: #333333;
  background-color: #fff;
  border-color: #009ba0;
}

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: auto;
  top: 0;
}

.lSSlideOuter.vertical {
  position: relative;
  padding-right: 0 !important;
  margin-bottom: 50px;
}

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  margin-left: 150px;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0;
  border: 1px solid #009ba0;
}

.product-name {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "FuturaDemiC";
  font-size: 34px;
  color: #0e0e0e;
  line-height: 0.8em;
  margin-bottom: 27px;
}
.product-name span {
  display: block;
  color: #656464;
  margin-bottom: 10px;
}

span.fs-sku {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  display: flex;
  white-space: nowrap;
  margin-bottom: 10px;
}

.product__buttons {
  border: 1px solid #009ba0;
  padding: 20px;
  font-size: 16px;
  font-family: "FuturaFuturisLightC";
  color: #0e0e0e;
  margin-bottom: 15px;
}
.product__buttons .fs-number {
  border-radius: 0;
  width: 58px;
}
.product__buttons .form-group {
  margin-bottom: 0;
  width: 100%;
}
.product__buttons .form-group .btn-block {
  text-transform: uppercase;
}
.product__buttons .form-group .btn-block .icon {
  margin: 0 10px 0 0;
  position: relative;
  top: 4px;
}
.product__buttons .flex {
  display: flex;
  align-items: center;
  min-height: 98px;
  flex-direction: column;
  justify-content: space-between;
}
.product__buttons .btn {
  font-size: 12px;
}
.product__buttons .rating-block {
  margin-bottom: 20px;
}
.product__buttons .fs-rating .star-rating {
  line-height: 32px;
  font-size: 13px;
}
.product__buttons .fs-price {
  font-family: "Helvetica Neue";
  font-size: 38px;
  font-weight: 500;
  color: #e57700;
  margin-bottom: 10px;
  display: block;
  line-height: 1;
}
.product__buttons .fs-price span {
  font-size: 24px;
}
.product__buttons span.fs-base-price {
  text-decoration: line-through;
  margin-bottom: 10px;
  display: block;
  color: #aaa;
  font-family: "Helvetica Neue";
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
}

.attribute-header {
  background-color: #f8f8f8;
  color: #009ba0;
  font-size: 22px;
  padding: 7px 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "FuturaFuturisLightC";
}

.fs-atts-list {
  font-family: "FuturaFuturisLightC";
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  margin: 20px 0;
}
.fs-atts-list li {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  color: #0e0e0e;
}
.fs-atts-list li span {
  width: 50%;
}

ul.the_champ_sharing_ul {
  left: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#tab-description {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.product-tabs {
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.product-tabs > li {
  width: calc(100% / 3);
  text-align: center;
}
.product-tabs > li a {
  font-size: 16px;
  letter-spacing: 0.05em;
  font-family: "FuturaDemiC";
}

.tab-content {
  border: 1px solid #e3e3e3;
  padding: 20px;
  font-family: "FuturaFuturisLightC";
  font-size: 16px;
  border-top-width: 0;
}

#tab-delivery p {
  margin-left: 54px;
  font-family: "FuturaLightC";
}
#tab-delivery p strong {
  font-family: "FuturaDemiC";
  font-size: 18px;
}

.product__delivery {
  border: 1px solid #e3e3e3;
  text-align: center;
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "FuturaDemiC";
  font-size: 11px;
  padding: 10px;
  margin: 0 auto;
  color: #0e0e0e;
  letter-spacing: 0.075em;
}
.product__delivery img {
  margin-bottom: 10px;
  max-height: 67px;
  width: auto;
}

#content .tab-content {
  margin-bottom: 50px;
}

.promo2-item {
  text-align: center;
}
.promo2-item p {
  font-family: "FuturaLightC";
  font-size: 16px;
  color: #0e0e0e;
}
.promo2-item .promo-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promo2-item .promo-heading img {
  margin-bottom: 15px;
}
.promo2-item .promo-heading > div {
  color: #0e0e0e;
  display: block;
  font-family: "FuturaDemiC";
  margin-bottom: 10px;
}

.review__item {
  border: 1px solid #e3e3e3;
  margin-bottom: 30px;
  padding: 20px;
}
.review__item .review__item-body p {
  font-size: 18px;
  font-family: "FuturaLightC";
  line-height: 24px;
}
.review__item .review__item-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: "FuturaDemiC";
  align-items: center;
}
.review__item .review__item-head .author {
  color: #009ba0;
  text-transform: uppercase;
  font-size: 16px;
}
.review__item .review__item-head .date {
  background-color: #009ba0;
  color: #ffffff;
  line-height: 1;
  display: flex;
  align-items: center;
  height: 22px;
  padding: 0 10px;
  font-size: 12px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.025em;
}
.btn.btn-outline-warning {
  color: #e57700;
  border: 1px solid #e57700;
}
.btn.btn-outline-warning:hover {
  color: #fff;
  background: #e57700;
}
.btn.btn-outline-primary {
  border: 1px solid #009ba0;
  color: #009ba0;
}
.btn.btn-outline-primary:hover {
  background: #009ba0;
  color: #ffffff;
}
.btn.btn-lg {
  padding: 6px 25px;
  height: 38px;
}

.page-template-page-testimonials .buttons {
  margin: 15px 0 45px;
}
.page-template-page-testimonials #content h1 {
  color: #0e0e0e;
  font-family: "FuturaDemiC";
  font-size: 40px;
}

header .btn {
  height: 34px;
}

.wpcf7-form p {
  margin-bottom: 20px;
}
.wpcf7-form label {
  display: block;
}
.wpcf7-form input::placeholder, .wpcf7-form textarea::placeholder {
  font-family: "FuturaFuturisLightC";
  font-size: 16px;
  color: #c4c4c4;
}
.wpcf7-form input {
  border: 1px solid #a3a3a3;
  height: 38px;
  width: 100%;
  padding: 0 10px;
}
.wpcf7-form textarea {
  border: 1px solid #a3a3a3;
  width: 100%;
  padding: 10px;
}
.wpcf7-form [type=submit] {
  border: 1px solid #009ba0;
  background: #009ba0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.wpcf7-form [type=submit]:hover {
  color: #009ba0;
  background: #fff;
}

.modal-title .icon-write {
  position: relative;
  top: 2px;
}

div#content {
  padding-bottom: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.review-list {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.fs-dashboard .tab-content {
  padding: 1.5rem;
}

.fs-dashboard .nav-pills .nav-link.active, .fs-dashboard .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #009ba0;
}
.fs-dashboard .bts {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.05em;
  min-width: 200px;
}
.fs-dashboard label {
  font-size: 14px;
}
.fs-dashboard legend {
  font-size: 18px;
  font-weight: bold;
}

.testimonial-row {
  column-count: 3;
  column-gap: 30px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .testimonial-row {
    column-count: 2;
  }
}
@media (max-width: 768px) {
  .testimonial-row {
    column-count: 1;
  }
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.cart-total-amount {
  font-size: 18px;
  font-weight: 700;
}

.fs-qty-wrap {
  padding-right: 25px;
}
.fs-qty-wrap input {
  height: 34px;
  padding: 6px;
  width: 48px;
}

.fs-checkout-form table tr td:not(:first-child) {
  text-align: center;
}
.fs-checkout-form .price-cell {
  font-size: 18px;
  color: #009ba0;
  padding: 5px 26px;
}

.select {
  position: relative;
  z-index: 2;
}
.select:hover {
  cursor: pointer;
}
.select__list {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  min-width: 160px;
  left: -15px;
  top: 100%;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.21);
}
.select__list li {
  line-height: 1;
  padding: 10px 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.select__list li:hover {
  cursor: pointer;
  background: #eeeeee;
}
.select__gap {
  position: relative;
  padding-right: 15px;
}
.select__gap.on:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select__gap:after {
  content: "";
  background: url(img/arrow-point-to-down.svg) center no-repeat;
  margin-left: 8px;
  width: 10px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-size: contain;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-size: 8px;
}

.order-filter, .perpage_filter {
  display: flex;
}

.not-found-content {
  text-align: center;
}
.not-found-content img {
  margin-bottom: 50px;
}
.not-found-content h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
}
.not-found-content p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.product-thumb:hover .product-gallery .slick-arrow {
  outline: none;
  opacity: 1;
}

.product-gallery .slick-arrow {
  outline: none;
  opacity: 0;
  transition: all 0.3s;
}
.product-gallery .slick-arrow.slick-next {
  right: 0;
}
.product-gallery .slick-arrow.slick-prev {
  left: 0;
}
.product-gallery picture {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-checkout-form button[type=submit] {
  margin-top: 30px;
}

.modal-cart__total {
  text-align: right;
  font-size: 18px;
  margin-bottom: 15px;
}
.modal-cart__total [data-fs-element=total-amount] {
  color: #009ba0;
  font-size: 28px;
  font-weight: 300;
}
.modal-cart__total [data-fs-element=total-amount] span {
  font-size: 18px;
}
.modal-cart__items {
  margin: 0;
  padding: 15px 0 0;
}
.modal-cart__items .modal-cart__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
  align-items: center;
}
.modal-cart__items .modal-cart__item .quantity-block {
  margin: 0 30px;
}
.modal-cart__items .modal-cart__item-price {
  font-size: 24px;
  font-weight: 300;
  color: #009ba0;
  line-height: 1;
}
.modal-cart__items .modal-cart__item-price span {
  font-size: 18px;
}
.modal-cart__items .modal-cart__item .fs-delete-position {
  background: #009ba0;
  color: #ffffff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  line-height: 0;
  font-weight: 300;
  text-decoration: none;
}
.modal-cart__items .modal-cart__item .fs-delete-position:hover {
  background: #fff;
  border: 1px solid #009ba0;
  color: #009ba0;
}
.modal-cart__items .modal-cart__item-meta {
  width: 582px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .modal-cart__items .modal-cart__item-meta {
    margin: 15px 0;
    width: auto;
  }
}
.modal-cart__items .modal-cart__item-thumb {
  max-width: 78px;
  margin-right: 15px;
}
.modal-cart__items .modal-cart__item-prices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.modal-cart__items .modal-cart__item-name {
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  margin-bottom: 10px;
}

#modal-cart .btn-groups {
  margin-bottom: 15px;
  flex-wrap: wrap;
}
#modal-cart .modal-dialog {
  width: 758px;
  max-width: 100%;
}
#modal-cart .modal-dialog .modal-content {
  max-width: 100%;
}
#modal-cart .modal-body {
  padding: 0;
}
#modal-cart .modal-title {
  display: flex;
  align-items: center;
}
#modal-cart .modal-title img {
  margin-right: 10px;
}

.top-right .btn {
  height: 41px;
  padding: 0 18px;
  font-size: 12px;
}
.top-right .btn.btn-primary.inline-modal {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-style: dashed;
}
.top-right .btn .icon {
  background: #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  line-height: 1;
  align-items: center;
  margin-right: 8px;
}

.upsells-list {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.upsells-list li a {
  width: 24px;
  height: 24px;
  display: block;
  background: #cccccc;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid #adadad;
  transition: all 0.5s;
}
.upsells-list li a:hover {
  border: 1px solid #009ba0;
}

.quantity-block {
  align-items: center;
  margin-bottom: 20px;
  width: 58px;
}
.quantity-block input {
  height: 38px;
  width: 38px;
  border: 1px solid #009ba0;
  padding: 0;
}

.fs-number-arrow {
  right: -7px;
}

.btn-block {
  display: flex;
  width: 100%;
  align-items: center;
}
.btn-block .icon {
  margin-right: 10px;
}

.the_champ_sharing_container.the_champ_horizontal_sharing {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .site__footer .widget .menu {
    max-height: 100%;
  }
}
@media (max-width: 768px) {
  .the_champ_sharing_container.the_champ_horizontal_sharing {
    margin-bottom: 30px;
  }

  .product-tabs > li {
    width: 100%;
    text-align: center;
    flex-basis: 100%;
  }

  .lSSlideOuter.vertical .lSGallery {
    display: none;
  }

  .lSSlideWrapper {
    margin-left: 0;
  }

  .product-name {
    text-align: left;
    line-height: 1.2em;
  }

  .product__buttons .btn {
    font-size: 12px;
    margin-bottom: 20px;
  }

  #header-telephone {
    font-size: 17px;
  }

  .footer__subscribe input[type=email] {
    width: 178px;
  }

  .bottom__line .container {
    flex-direction: column;
  }

  .review__item {
    margin: 0 15px 30px;
  }
}
.icon {
  display: inline-block;
}
.icon-arrow-right {
  background: transparent url(img/icons/arrow-right.png) center center no-repeat;
  width: 6px;
  height: 9px;
}

.main-filter .attr-color {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
}
.main-filter__show-hide {
  display: block;
  padding-left: 14px;
}
.main-filter__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
.main-filter ul {
  padding: 0;
  margin: 0 0 10px;
  font-family: "FuturaLightC";
  font-size: 16px;
  font-weight: 400;
  list-style: none;
}
.main-filter ul li {
  margin-bottom: 14px;
  background-image: url("/wp-content/themes/erukzak/img/icons/ul.png");
  background-position: 0px 6px;
  background-repeat: no-repeat;
  padding-left: 4px;
}
.main-filter ul li a {
  color: #000000;
  text-decoration: underline;
  padding-left: 11px;
  display: block;
}
.main-filter ul li a:hover {
  text-decoration: none;
}

.widget_fs_price_widget .ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0e0e0e;
  border: 0;
}
.widget_fs_price_widget .ui-slider-horizontal {
  height: 3px;
  border: 0;
  background: #d8d8d8;
  margin-left: 9px;
}
.widget_fs_price_widget .ui-slider-horizontal .ui-slider-range {
  border: 0;
  background: #009ba0;
}
.widget_fs_price_widget .ui-widget.ui-widget-content {
  border: 0;
}
.widget_fs_price_widget .price--inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.widget_fs_price_widget .price--inputs input {
  height: 28px;
  width: 72px;
  text-align: center;
  border: 1px solid #009ba0;
  font-size: 14px;
}

img.alignleft {
  float: left;
  margin: 8px 20px 20px 0;
}

img.alignnone {
  width: 100%;
  height: auto;
  margin: 30px 0;
}

img.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

#top {
  border-top: 3px solid #1b7f82;
  background-color: #e2e2e2;
  min-height: 37px;
  box-sizing: content-box;
}
#top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.home .slick-list {
  padding: 0 0px 57px 0;
}

.slick-slider .product-thumb:hover .animate-h {
  box-shadow: none;
}

.top-right {
  display: flex;
  align-items: center;
}

header .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-phones {
  text-align: center;
}

.taxonomy-sidebar .fs-attr-filter.fs-type-color {
  display: flex;
  flex-wrap: wrap;
}
.taxonomy-sidebar .fs-attr-filter.fs-type-color .fs-checkbox-wrapper.active .fs-color-box {
  border: 2px solid #ee004e;
}
.taxonomy-sidebar .fs-attr-filter.fs-type-color .fs-checkbox-wrapper label {
  padding-left: 0;
  font-size: 0;
}
.taxonomy-sidebar .fs-attr-filter.fs-type-color .fs-checkbox-wrapper label:after {
  display: none;
}
.taxonomy-sidebar .fs-attr-filter.fs-type-color .fs-checkbox-wrapper label:before {
  display: none;
}

#fs-dashboard-personal_info .tab-content {
  border-right: none;
  border-bottom: 0;
}

.fs-login-form button[type=submit], .fs-register button[type=submit], .fs-lostpassword button[type=submit] {
  width: 100%;
  border-radius: 0;
  background: #009ba0;
  border: 1px solid #009ba0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #009ba0;
  background-color: #009ba0;
}

.custom-control-label::before {
  width: 15px;
  height: 15px;
}

.custom-control-label::after {
  width: 15px;
  height: 15px;
}

.custom-control-label {
  padding-left: 10px;
}

.btn-wishlist.btn.btn-lg {
  padding: 0;
  width: 38px;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
