@font-face {
    font-family: 'FuturaFuturisLightC';
    src: url('FuturaFuturisLightC.woff2') format('woff2'),
        url('FuturaFuturisLightC.woff') format('woff'),
        url('FuturaFuturisLightC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

