@font-face {
    font-family: 'FuturaLightC';
    src: url('FuturaLightC.woff2') format('woff2'),
        url('FuturaLightC.woff') format('woff'),
        url('FuturaLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

