@font-face {
    font-family: 'FuturaDemiC';
    src: url('FuturaDemiC.woff2') format('woff2'),
        url('FuturaDemiC.woff') format('woff'),
        url('FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

