#blogCatArticles {
    margin-bottom: 25px;
    overflow: hidden
}

#blogCatArticles p, #blogArticle
p {
    line-height: 18px;
    margin-bottom: 10px
}

#blogCatArticles p
iframe {
    width: 100% !important
}

.livemarks
a {
    background: url(http://erukzak.com.ua/catalog/view/theme/rukzak/stylesheet/../image/blog_livemarks.png) no-repeat;
    float: right;
    height: 20px !important;
    margin-top: -45px;
    width: 20px !important
}

#blogArticle .articleHeader h1, #blogArticle .articleHeader h1 a, #blogCatArticles .articleHeader h3, #blogCatArticles .articleHeader h3
a {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin: 0;
    padding-bottom: 3px;
    text-decoration: none
}

#blogArticle .articleHeader h1 a:hover, #blogCatArticles .articleHeader h3 a:hover {
}

#blogCategory {
    margin-bottom: 25px;
    overflow: hidden
}

.articleCat {
    margin-bottom: 10px
}

#blogCatArticles
.articleHeader {
    margin: 10px 0 10px
}

.articleHeader {
    margin: 10px 0 30px
}

#blogCatArticles span, #blogCatArticles span
a {
    color: #000;
    font-size: 12px
}

.articleHeader span, .articleHeader span
a {
    color: #909090;
    font-size: 14px;
    font-weight: bold
}

.articleHeader span
a {
    font-style: italic;
    text-decoration: none
}

.articleHeader span a:hover {
    text-decoration: underline
}

.articleContent {
    overflow: hidden
}

#blogCatArticles .articleContent span ol, #blogCatArticles .articleContent span
ul {
    float: left
}

.articleContent
.readMore {
    margin-top: 5px;
    padding: 0 10px
}

.articleContent .readMore
span {
    margin-left: 10px
}

.articleContent .readMore span
a {
    font-size: 12px;
    text-decoration: none
}

.articleContent .readMore span a:hover {
    text-decoration: underline
}



#content .articleHeader h1, #content .articleHeader h1
a {
    color: #009BA0;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase
}

.tags-update {
    text-align: right;
    margin-top: 10px
}

.tags-update
.tags {
    float: left
}

.tags-update .tags
a {
    font-style: italic
}

.updateInfo {
    color: #888;
    font-size: 11px;
    display: block
}

.articleBottom {
    margin-top: 20px;
    overflow: hidden
}

.articleBottom > div {
    overflow: hidden
}

.articleBottom h4, #blogCategory
h4 {
    margin: 20px 0 10px;
    font-size: 16px;
    clear: both;
    letter-spacing: 0
}

.articleBottom ul, #blogCategory
ul {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
    float: left;
    width: 40%
}

.articleBottom li, #blogCategory
li {
    padding: 3px 0;
    padding-left: 15px;
    background: url(http://erukzak.com.ua/catalog/view/theme/rukzak/stylesheet/../image/blog_arrow.gif) no-repeat 0 7px
}

.articleBottom
#articleRelated {
}

.articleBottom
#productRelated {
}

#productRelated .box-product {
    width: 100%;
    margin: 0;
    overflow: hidden
}

#productRelated
.relProduct {
    width: 19%;
    margin: 0 0 15px;
    background: none;
    padding: 0;
    text-align: center
}

#content .attention
img {
    margin: 0 10px
}

#comments
.commentEmpty {
    background: #fff;
    padding: 8px 10px;
    border: 1px solid #d8d8d8;
    margin-bottom: 10px
}

#comments
.commentList {
    list-style: none;
    padding: 0;
    margin: 15px 0 0
}

.commentList
li {
    border: 1px solid #ddd;
    min-height: 75px;
    padding: 8px 8px 8px 15px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.childComment
li {
    border: 1px solid #fff
}

.commentList li
.avatar {
    background: #eee;
    padding: 2px;
    border: 1px solid #ddd;
    float: left;
    margin-right: 10px
}

.commentList li
.badge {
    background: #222;
    padding: 1px 4px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    margin-right: 4px;
    text-shadow: 1px 1px 0 #333;
    cursor: default
}

.commentList li
.default {
    background: #0555C6
}

.commentList li .top, .commentList li
.admin {
    background: #F00
}

.commentList li .name, .commentList li .name
a {
    font-size: 15px;
    color: #0481CF;
    text-decoration: none;
    cursor: default
}

.commentList li .name
a {
    cursor: pointer
}

.commentList li .name a:hover {
    text-decoration: underline
}

.commentList li
.created {
    font-size: 10px;
    color: #888;
    margin: 2px 0 8px
}

.commentList li
.reply {
    text-align: right;
    height: 22px;
    margin-top: 10px
}

.commentList
.even {
    background: #fff
}

.childComment
.even {
    background: #f8f8f8
}

.commentList
.odd {
    background: #eee
}

.childComment
.odd {
    background: #e6e6e6
}

#comments
.pagination {
    font-size: 11px;
    color: #666;
    border: none;
    padding: 0
}

#comments .pagination .links a, #comments .pagination .links
b {
    font-size: 10px;
    padding: 2px 5px
}

#comments .pagination .links
a {
    background: #fff;
    color: #666
}

#comments .pagination .links
b {
    background: #0481CF;
    color: #fff
}

#articleComments
#commentRespond {
    padding: 15px 0
}

#commentRespond
h4 {
    font-size: 18px
}

#commentRespond
#commentTitle {
}

#comments
#commentTitle {
    display: none
}

#commentRespond
#replyTitle {
    display: none
}

#comments
#commentRespond {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding: 15px
}

#comments
#replyTitle {
    display: block;
    margin-bottom: 10px
}

#commentRespond
#cancelCommentReply {
    float: right;
    margin-top: -27px
}

#commentRespond
.note {
    font-size: 10px;
    color: #888;
    display: block;
    margin: 0 8px
}

#commentRespond td.captcha
span.captchaImage {
    padding-top: 9px;
    margin-right: 25px
}

#commentRespond
.error {
    font-size: 11px;
    color: #d00;
    display: inline-block;
    margin: 0 8px
}

#commentRespond
.right {
    text-align: right;
    padding: 15px 25px 10px
}

.blogSearch {
    margin: 15px 0;
    overflow: hidden
}

.blogSearch
ul {
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0
}

.blogSearch
a {
    text-decoration: none
}

.blogSearch a:hover {
    text-decoration: underline
}

.blogSearch .bm-title {
    font-size: 14px
}

.blogSearch .info, .blogSearch
.readmore {
    color: #888;
    font-style: italic;
    font-size: 11px
}

.blogSearch
img {
    background: #f8f8f8;
    padding: 3px;
    border: 1px solid #e8e8e8
}

.blogSearch
p {
    margin: 0
}

.blogSearch
.plain {
    padding-left: 20px;
    margin-bottom: 15px
}

.blogSearch .plain
li {
    padding-left: 15px;
    background: url(http://erukzak.com.ua/catalog/view/theme/rukzak/stylesheet/../image/blog_arrow.gif) no-repeat 0 6px
}

.blogSearch .plain
.info {
    margin-left: 15px
}

.blogSearch
.compact {
}

.blogSearch .compact
li {
    width: 47%;
    height: 120px;
    float: left;
    padding: 0 1.5%
}

.blogSearch .compact
div {
    margin-left: 110px
}

.blogSearch .compact .bm-title {
    font-size: 18px
}

.blogSearch .compact
.info {
    display: block
}

.blogSearch .compact
img {
    float: left
}

.blogSearch
.grid {
}

.blogSearch .grid > div {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px
}

.blogSearch .grid
img {
    margin: 0 auto;
    display: block;
    margin-bottom: 8px
}

.blogSearch .grid
.info {
    display: block;
    font-size: 10px
}

#tab-related-article {
    overflow: hidden
}

#tab-related-article
ul {
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0
}

#tab-related-article
li {
    width: 31%;
    float: left;
    padding: 0 1%;
    min-height: 160px;
    overflow: hidden
}

#tab-related-article
a {
    text-decoration: none
}

#tab-related-article a:hover {
    text-decoration: underline
}

#tab-related-article
.blogTitle {
    font-size: 14px;
    display: block
}

#tab-related-article
.blogImage {
    float: left;
    margin-right: 10px
}

#tab-related-article
.info {
    color: #888;
    font-style: italic;
    font-size: 11px;
    margin-right: 8px
}

#tab-related-article
img {
    background: #f8f8f8;
    padding: 3px;
    border: 1px solid #e8e8e8
}

#tab-related-article
p {
    margin: 0
}

.blockClear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

#blogCatArticles.imageBlock
.imageFeatured {
    display: block;
    margin: 0 auto 15px;
    float: none
}

.articleCat {
    background-color: #009ba0
}

.articleCat
.articleContent {
    padding-right: 15px;
    color: #fff
}

.blogCol3
.articleCat {
    float: left;
    width: 31%;
    padding: 0.5% 1%
}

.blogCol4
.articleCat {
    float: left;
    width: 23%;
    padding: 0.5% 1%;
    margin: 0
}

.blogCol4
.articleHeader {
    margin: 8px 0
}

.blogCol4 .articleHeader h3, .blogCol4 .articleHeader h3
a {
    font-size: 20px !important
}

.blogCol4 .articleHeader
span {
    display: none;
    visibility: hidden
}

.blogCol2 .imageFeaturedLink, .blogCol3 .imageFeaturedLink, .blogCol4
.imageFeaturedLink {
    display: block
}

.imageContent {
    background: #f4f4f4;
    padding: 4px;
    margin: 0 10px 10px 0;
    border: 1px solid #e4e4e4
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.mfp-align-top .mfp-container:before {
    display: none
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto
}

.mfp-ajax-cur {
    cursor: progress
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
    cursor: auto
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.mfp-loading.mfp-figure {
    display: none
}

.mfp-hide {
    display: none !important
}

.mfp-preloader {
    color: #ccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044
}

.mfp-preloader
a {
    color: #ccc
}

.mfp-preloader a:hover {
    color: white
}

.mfp-s-ready .mfp-preloader {
    display: none
}

.mfp-s-error .mfp-content {
    display: none
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: white;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace
}

.mfp-close:hover, .mfp-close:focus {
    opacity: 1
}

.mfp-close:active {
    top: 1px
}

.mfp-close-btn-in .mfp-close {
    color: #333
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.mfp-arrow:active {
    margin-top: -54px
}

.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px
}

.mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px
}

.mfp-arrow-left {
    left: 0
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f
}

.mfp-arrow-right {
    right: 0
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px
}

.mfp-iframe-holder .mfp-close {
    top: -40px
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}

.mfp-iframe-scaler
iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black
}

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto
}

.mfp-figure {
    line-height: 0
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444
}

.mfp-figure
small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px
}

.mfp-image-holder .mfp-content {
    max-width: 100%
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0
    }

    .mfp-img-mobile .mfp-figure {
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0
    }

    .mfp-img-mobile .mfp-figure
    small {
        display: inline;
        margin-left: 5px
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75)
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px
    }
}

.mfp-ie7 .mfp-img {
    padding: 0
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px
}

.mfp-ie7 .mfp-container {
    padding: 0
}

.mfp-ie7 .mfp-content {
    padding-top: 44px
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0
}