@charset "UTF-8";
@media print {
  .gm-style .gmnoprint, .gmnoprint {
    display: none;
  }
}
@media screen {
  .gm-style .gmnoscreen, .gmnoscreen {
    display: none;
  }
}
/*==========  Non-Mobile First  ==========*/
/* Широкоформатный экран — 1200px */
@media (max-width: 75.063em) {
  #consult {
    display: none;
  }
}
/* Десктоп — 992px */
/* Планшеты — 768px */
/* Телефоны —  544px */
/* Айфон в портретном режиме — 320px */

/*# sourceMappingURL=media.css.map */
