@media print {
  .gm-style .gmnoprint, .gmnoprint {
    display: none
  }
}

@media screen {
  .gm-style .gmnoscreen, .gmnoscreen {
    display: none
  }
}

/*==========  Non-Mobile First  ==========*/

/* Широкоформатный экран — 1200px */
@media (max-width: 75.063em) {
  #consult {
    display: none;
  }
}

/* Десктоп — 992px */
@media (max-width: 62.063em) {
}

/* Планшеты — 768px */
@media (max-width: 48.063em) {
}

/* Телефоны —  544px */
@media (max-width: 34.063em) {
}

/* Айфон в портретном режиме — 320px */
@media (max-width: 20.063em) {
}



